@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-ExtraBold.eot");
  src: url("../fonts/Circe/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe/Circe-ExtraBold.ttf") format("truetype"), url("../fonts/Circe/Circe-ExtraBold.svg#Circe-ExtraBold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.ttf") format("truetype"), url("../fonts/Circe/Circe-Regular.svg#Circe-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2/Exo2.Exo20-Bold.eot");
  src: url("../fonts/Exo2/Exo20-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2/Exo20-Bold.woff2") format("woff2"), url("../fonts/Exo2/Exo20-Bold.woff") format("woff"), url("../fonts/Exo2/Exo20-Bold.ttf") format("truetype"), url("../fonts/Exo2/Exo20-Bold.svg#Exo2.0-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2/Exo20-Regular.eot");
  src: url("../fonts/Exo2/Exo20-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2/Exo20-Regular.woff2") format("woff2"), url("../fonts/Exo2/Exo20-Regular.woff") format("woff"), url("../fonts/Exo2/Exo20-Regular.ttf") format("truetype"), url("../fonts/Exo2/Exo20-Regular.svg#Exo2.0-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'Circe', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #788386; }

h1 {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase; }

h2 {
  font-size: 36px;
  line-height: 38px; }

h3 {
  font-size: 21px;
  font-weight: 900;
  font-family: 'Exo2';
  color: #055d50; }

h4 {
  font-size: 21px;
  color: #055c50; }

h5 {
  font-size: 18px;
  font-weight: 700; }

h6 {
  font-size: 14px;
  font-weight: 700; }

a {
  color: #999;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    outline: none;
    color: inherit; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

img {
  max-width: 100%; }
  img a {
    position: relative;
    color: #FFC000;
    font-weight: normal; }
    img a::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      bottom: -1px;
      background: #4C2E00; }
    img a:hover, img a:focus {
      color: #FFC000; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  position: relative;
  z-index: 100;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2); }
  header.header-fixed {
    position: fixed;
    min-height: 76px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #000;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }

.content {
  min-height: -webkit-calc(100vh - 144px);
  min-height: calc(100vh - 144px); }

.justify-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.container {
  width: 1194px; }

.navbar {
  min-height: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.navbar-nav {
  float: none;
  margin: 0; }

.nav.navbar-nav::before, .nav.navbar-nav::after {
  display: none; }

.navbar-nav > li {
  float: none;
  display: inline-block;
  margin-right: -0.3em; }
  .navbar-nav > li > a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 115px;
    padding: 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #333333;
    border: none;
    font-family: "Exo2"; }
    .navbar-nav > li > a.active, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
      background: #14585e;
      color: #fff; }

.header-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 390px; }
  .header-contact__item {
    margin-top: 10px;
    min-width: 160px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .header-contact__item:first-child, .header-contact__item:nth-child(2) {
      margin-top: 0; }
    .header-contact__item--info strong, .header-contact__item--info .header-contact__tel {
      display: block;
      margin-bottom: 5px;
      font-size: 13px;
      font-weight: bold;
      color: #333; }
    .header-contact__item--info .header-contact__tel {
      margin: 0;
      line-height: 12px; }
    .header-contact__item--info span {
      display: block;
      font-size: 9px;
      text-transform: uppercase;
      color: #146f66;
      font-family: Arial; }

.link {
  display: inline-block;
  font-size: 9px;
  text-transform: uppercase;
  color: #146f66;
  font-family: Arial;
  border-bottom: 1px dotted; }

.icon {
  position: relative;
  display: inline-block;
  padding-right: 10px; }
  .icon::before {
    content: '';
    display: block;
    width: 36px;
    height: 36px; }

.icon-email::before {
  background: url(../img/email.svg); }

.icon-tel::before {
  background: url(../img/tel.svg); }

.icon-pen::before {
  background: url(../img/pen.svg); }

.icon-gift::before {
  background: url(../img/gift.svg); }

.icon-marker::before {
  background: url(../img/map-marker.png); }

.btn-header {
  display: inline-block;
  padding: 5px 10px 3px;
  font-size: 9px;
  text-transform: uppercase;
  color: #146f66;
  font-family: Arial;
  border: 2px solid #8FBCBC;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.front {
  padding: 55px 0 35px; }
  .front > .container > .row {
    margin-left: 0;
    margin-right: 0; }
    .front > .container > .row > [class^="col"] {
      padding-left: 0;
      padding-right: 0; }

.front-wrap {
  margin-bottom: 40px; }

.front-video {
  position: relative;
  height: 400px; }
  .front-video iframe {
    width: 100%;
    height: 100%; }
  .front-video .soc-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 100; }
  .front-video > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 10; }

.soc-btn li {
  display: inline-block;
  margin-right: 15px; }
  .soc-btn li:last-child {
    margin-right: 0; }
  .soc-btn li a {
    display: block; }
    .soc-btn li a img {
      display: block; }

.front-collagen {
  position: relative;
  height: 100%;
  padding: 0 0 0 20px;
  background: url(../img/front-collagen-bg.jpg) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  .front-collagen .justify-align {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .front-collagen h3 {
    margin-bottom: 10px; }
  .front-collagen p {
    color: #333; }
  .front-collagen__text {
    padding: 0 0 0 15px; }
    .front-collagen__text p {
      line-height: 15px;
      margin-bottom: 10px; }
  .front-collagen > img {
    position: absolute;
    bottom: -35px;
    left: 0; }

.russian-innovation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .russian-innovation span {
    padding-right: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #055d50;
    text-transform: uppercase; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.icon-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .icon-block__item {
    width: 32%;
    min-height: 172px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 0 12px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0 12px 0 rgba(0, 0, 0, 0.2); }
    .icon-block__item span {
      display: block;
      text-align: center;
      font-size: 21px;
      color: #333; }

.icon-block__img {
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section-header {
  padding: 20px 0 15px;
  background: #14565C; }
  .section-header h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase; }

.collagen-formula {
  padding: 50px 0 50px; }
  .collagen-formula h2 {
    margin-bottom: 50px;
    color: #055c50;
    line-height: 45px;
    text-align: center; }
  .collagen-formula__text ul {
    margin-bottom: 20px;
    list-style: none; }
    .collagen-formula__text ul li {
      font-size: 21px; }
  .collagen-formula__text p {
    font-size: 24px; }

.advantages-list {
  padding: 50px 0 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .advantages-list__item {
    width: 32.5%;
    margin: 0 0 14px;
    padding: 0 20px;
    min-height: 290px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 8px solid #49968C; }
    .advantages-list__item p {
      font-family: Verdana;
      font-size: 14px;
      line-height: 17px; }
  .advantages-list__number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 68px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 51px;
    line-height: 42px;
    color: #136960;
    border-bottom: 1px solid #7DB4AD; }

.order-btn__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px; }

.btn-gradient {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0;
  height: 58px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#12685b), color-stop(50%, #15b76e), color-stop(76%, #15b76e), to(#126a5b));
  background: -webkit-linear-gradient(left, #12685b 0%, #15b76e 50%, #15b76e 76%, #126a5b 100%);
  background: -o-linear-gradient(left, #12685b 0%, #15b76e 50%, #15b76e 76%, #126a5b 100%);
  background: linear-gradient(to right, #12685b 0%, #15b76e 50%, #15b76e 76%, #126a5b 100%);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  .btn-gradient:hover, .btn-gradient:focus {
    color: #fff;
    opacity: 1;
    background: -webkit-gradient(linear, left top, right top, from(#15b76e), color-stop(52%, #12685b), to(#15b76e));
    background: -webkit-linear-gradient(left, #15b76e 0%, #12685b 52%, #15b76e 100%);
    background: -o-linear-gradient(left, #15b76e 0%, #12685b 52%, #15b76e 100%);
    background: linear-gradient(to right, #15b76e 0%, #12685b 52%, #15b76e 100%); }

.one-kilo {
  position: relative;
  padding: 0 0 0 77px;
  font-size: 17px;
  color: #fff;
  line-height: 17px;
  text-transform: none;
  text-align: left; }
  .one-kilo::before {
    content: '';
    position: absolute;
    left: 4px;
    bottom: 0;
    width: 68px;
    height: 76px;
    background: url(../img/one-kilo.png); }

.section h3 {
  padding: 20px 0;
  text-align: center;
  color: #333;
  font-weight: normal;
  font-size: 24px;
  font-family: "Circe"; }

.composition {
  padding: 40px 0;
  background: url(../img/composition-bg.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .composition-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .composition-item img {
      margin-bottom: 10px; }
    .composition-item p {
      font-size: 14px;
      color: #fff;
      font-family: verdana;
      text-align: center;
      max-width: 210px; }

.for-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .for-list__item {
    width: 24%; }
  .for-list img {
    display: block;
    margin: 0 auto 10px; }
  .for-list p {
    font-size: 14px;
    line-height: 15px; }
  .for-list + h3 {
    margin-bottom: 30px;
    font-size: 21px; }

.efficiency {
  padding: 30px 0; }
  .efficiency-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0; }
    .efficiency-item:nth-child(even) {
      background: #eaf0ef; }
      .efficiency-item:nth-child(even) .efficiency-item__img {
        text-align: right; }
    .efficiency-item__img {
      width: 250px; }
    .efficiency-item__text {
      width: -webkit-calc(100% - 250px);
      width: calc(100% - 250px); }

.custom-list {
  list-style: none; }
  .custom-list li {
    position: relative;
    padding: 0 0 0 45px;
    margin: 0 0 9px;
    font-size: 21px;
    line-height: 24px; }
    .custom-list li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      background: url(../img/list-marker.png);
      width: 23px;
      height: 20px; }
    .custom-list li:last-child {
      margin-bottom: 0; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.news-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0 70px; }
  .news-list__item {
    width: 24%; }
    .news-list__item h4 {
      margin-bottom: 10px; }
    .news-list__item p {
      margin: 0 0 20px;
      line-height: 18px; }
  .news-list__img {
    margin-bottom: 10px; }
  .news-list__date {
    position: relative;
    padding: 0 0 0 40px;
    margin: 0 0 20px;
    font-size: 14px;
    color: #5D5D67; }
    .news-list__date::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background: url(../img/calendar.svg); }
  .news-list + .text-center .btn-green {
    margin-bottom: 55px; }

.read-more {
  display: inline-block;
  padding: 7px 12px;
  font-size: 14px;
  color: #055c50;
  border: 1px solid #002514; }

.btn-green {
  padding: 9px 50px 7px;
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  background: #12625A;
  -webkit-border-radius: 30px;
          border-radius: 30px; }
  .btn-green:hover, .btn-green:focus {
    color: #fff; }

.certificate {
  padding: 40px 0;
  background: url(../img/certificate-bg.jpg); }
  .certificate-slider {
    padding: 0 25px; }

.contacts {
  padding: 60px 0 10px; }

.contacts-info {
  width: 490px; }

.contacts-info__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.contacts-info__item ul {
  width: -webkit-calc(100% - 52px);
  width: calc(100% - 52px);
  list-style: none; }
  .contacts-info__item ul li, .contacts-info__item ul a {
    font-size: 14px;
    color: #000;
    line-height: 18px;
    font-family: Verdana; }

.contacts-info__icon {
  width: 54px; }

.contacts-soc {
  display: block;
  padding: 8px 0 7px;
  margin-bottom: 15px;
  line-height: 0;
  border-top: 1px solid #BAB4B4;
  border-bottom: 1px solid #BAB4B4;
  text-align: center; }
  .contacts-soc li {
    margin: 0 35px; }

.contacts-form {
  width: 514px; }

.form-item {
  position: relative;
  margin-bottom: 5px;
  border: 1px solid #BAB4B4;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  .form-item:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 12px; }
  .form-item:last-of-type {
    margin-bottom: 20px; }
  .form-item input {
    width: 100%;
    height: 40px;
    padding: 0 0 0 50px;
    border: none;
    outline: none;
    background-color: transparent; }
  .form-item textarea {
    width: 100%;
    padding: 7px 0 0 50px;
    height: 135px;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none; }

.icon-user:before {
  background: url(../img/user.svg);
  width: 12px;
  height: 15px; }

.icon-at:before {
  background: url(../img/at.png);
  width: 13px;
  height: 14px; }

.icon-phone:before {
  background: url(../img/phone.svg);
  width: 10px;
  height: 17px; }

.icon-marker:before {
  background: url(../img/marker.svg);
  width: 12.424px;
  height: 15.896px; }

.icon-envelope:before {
  background: url(../img/mail.svg);
  width: 16.856px;
  height: 11.236px; }

.send-btn {
  position: relative;
  width: 100%;
  height: 60px;
  background: #135256;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none; }
  .send-btn:before {
    content: '';
    position: absolute;
    left: 30px;
    top: 20px;
    background: url(../img/otpravit.svg);
    width: 30.898px;
    height: 20.6px; }

.map-wrapper {
  height: 645px; }

#googleMap {
  width: 100%;
  height: 100%; }

.footer-wrap {
  min-height: 170px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-copy p {
  padding: 0 0 0 30px;
  font-size: 11px;
  font-family: Arial;
  font-weight: bold;
  color: #000;
  line-height: 18px; }

.footer-logo {
  max-width: 110px; }

.footer-design a {
  display: inline-block; }
  .footer-design a img {
    width: 82px; }

.footer-design span {
  padding: 0 10px 0 0;
  font-size: 11px;
  font-family: Arial;
  font-weight: bold;
  color: #000;
  line-height: 18px; }

.back-to-top {
  position: fixed;
  display: block;
  bottom: 15px;
  right: 15px;
  width: 72px;
  height: 72px;
  z-index: 99;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0; }
  .back-to-top.show {
    opacity: 1; }
