// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: 'Circe', sans-serif
  font-weight: normal
  font-size: 15px
  color: #788386

h1
  font-size: 60px
  font-weight: 800
  text-transform: uppercase

h2
  font-size: 36px
  line-height: 38px

h3
  font-size: 21px
  font-weight: 900
  font-family: 'Exo2'
  color: #055d50 

h4
  font-size: 21px
  color: #055c50

h5
  font-size: 18px
  font-weight: 700

h6
  font-size: 14px
  font-weight: 700


a
  color: #999
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%



  a
    position: relative
    color: $main
    font-weight: normal
    &::before
      content: ''
      position: absolute
      left: 0
      right: 0
      width: 100%
      height: 1px
      bottom: -1px
      background: #4C2E00
    &:hover, &:focus
      color: $main


*
  box-sizing: border-box