
@font-face
  font-family: 'Circe'
  src: url('../fonts/Circe/Circe-ExtraBold.eot')
  src: url('../fonts/Circe/Circe-ExtraBold.eot?#iefix') format("embedded-opentype"), url('../fonts/Circe/Circe-ExtraBold.woff2') format("woff2"), url('../fonts/Circe/Circe-ExtraBold.woff') format("woff"), url('../fonts/Circe/Circe-ExtraBold.ttf') format("truetype"), url('../fonts/Circe/Circe-ExtraBold.svg#Circe-ExtraBold') format("svg")
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Circe'
  src: url('../fonts/Circe/Circe-Regular.eot')
  src: url('../fonts/Circe/Circe-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Circe/Circe-Regular.woff2') format("woff2"), url('../fonts/Circe/Circe-Regular.woff') format("woff"), url('../fonts/Circe/Circe-Regular.ttf') format("truetype"), url('../fonts/Circe/Circe-Regular.svg#Circe-Regular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Exo2'
  src: url('../fonts/Exo2/Exo2.Exo20-Bold.eot')
  src: url('../fonts/Exo2/Exo20-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/Exo2/Exo20-Bold.woff2') format("woff2"), url('../fonts/Exo2/Exo20-Bold.woff') format("woff"), url('../fonts/Exo2/Exo20-Bold.ttf') format("truetype"), url('../fonts/Exo2/Exo20-Bold.svg#Exo2.0-Bold') format("svg")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Exo2'
  src: url('../fonts/Exo2/Exo20-Regular.eot')
  src: url('../fonts/Exo2/Exo20-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Exo2/Exo20-Regular.woff2') format("woff2"), url('../fonts/Exo2/Exo20-Regular.woff') format("woff"), url('../fonts/Exo2/Exo20-Regular.ttf') format("truetype"), url('../fonts/Exo2/Exo20-Regular.svg#Exo2.0-Regular') format("svg")
  font-weight: normal
  font-style: normal