@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------
header
	position: relative
	z-index: 100
	transition: all .5s
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2)

	&.header-fixed
		position: fixed
		min-height: 76px
		top: 0
		left: 0
		right: 0
		margin: 0 auto
		background: #000
		transform: translate(0,0)
		




.content
	min-height: calc(100vh - 144px)

.justify-align
	display: flex
	justify-content: space-between
	align-items: center

.container
	width: 1194px


.navbar
	min-height: 0
	margin: 0
	border: none
	border-radius: 0
	border: none

.navbar-collapse
	padding-right: 0
	padding-left: 0
	border-top: none
	-webkit-box-shadow: none
	box-shadow: none

.navbar-nav
	float: none
	margin: 0

.nav.navbar-nav
	&::before, &::after
		display: none

.navbar-nav 

	> li
		float: none
		display: inline-block
		margin-right: -0.3em

		> a
			position: relative
			display: flex
			align-items: center
			justify-content: center
			height: 115px
			padding: 0 10px
			font-size: 13px
			text-transform: uppercase
			color: #333333
			border: none
			font-family: "Exo2"

			&.active, &:hover, &:focus
				background: #14585e
				color: #fff


.header-contact
	display: flex
	justify-content: space-between
	align-items: flex-start
	flex-wrap: wrap
	width: 390px

	&__item
		margin-top: 10px
		min-width: 160px
		justify-content: flex-start

		&:first-child, &:nth-child(2)
			margin-top: 0

		&--info
			strong, .header-contact__tel
				display: block
				margin-bottom: 5px
				font-size: 13px
				font-weight: bold
				color: #333

			.header-contact__tel
				margin: 0
				line-height: 12px

			span
				display: block
				font-size: 9px
				text-transform: uppercase
				color: #146f66
				font-family: Arial

.link
	display: inline-block
	font-size: 9px
	text-transform: uppercase
	color: #146f66
	font-family: Arial
	border-bottom: 1px dotted


.icon
	position: relative
	display: inline-block
	padding-right: 10px

	&::before
		content: ''
		display: block
		width: 36px
		height: 36px

.icon-email
	&::before
		background: url(../img/email.svg)
.icon-tel
	&::before
		background: url(../img/tel.svg)
.icon-pen
	&::before
		background: url(../img/pen.svg)
.icon-gift
	&::before
		background: url(../img/gift.svg)
.icon-marker
	&::before
		background: url(../img/map-marker.png)
.btn-header
	display: inline-block
	padding: 5px 10px 3px
	font-size: 9px
	text-transform: uppercase
	color: #146f66
	font-family: Arial
	border: 2px solid #8FBCBC
	border-radius: 4px


.front
	padding: 55px 0 35px

	>.container
		>.row
			margin-left: 0
			margin-right: 0
			>[class^="col"]
				padding-left: 0
				padding-right: 0

.front-wrap
	margin-bottom: 40px

.front-video
	position: relative
	height: 400px

	iframe
		width: 100%
		height: 100%

	.soc-btn
		position: absolute
		top: 15px
		right: 20px
		z-index: 100

	>img
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		transition: all .3s
		z-index: 10

	// &:hover
	// 	>img
	// 		opacity: 0
	// 		z-index: -1

.soc-btn
	li
		display: inline-block
		margin-right: 15px

		&:last-child
			margin-right: 0

		a
			display: block

			img
				display: block

.front-collagen
	position: relative
	height: 100%
	padding: 0 0 0 20px
	background: url(../img/front-collagen-bg.jpg) no-repeat
	background-size: contain

	.justify-align
		align-items: flex-start

	h3
		margin-bottom: 10px

	p
		color: #333

	&__text
		padding: 0 0 0 15px

		p
			line-height: 15px
			margin-bottom: 10px

	>img
		position: absolute
		bottom: -35px
		left: 0

.russian-innovation
	display: flex
	align-items: center
	justify-content: flex-end

	span
		padding-right: 10px
		font-size: 14px
		line-height: 14px
		color: #055d50
		text-transform: uppercase


.row-eq-height
	display: flex

.icon-block
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	

	&__item
		width: 32%
		min-height: 172px
		margin-bottom: 20px
		box-shadow: 1px 0 12px 0 rgba(0, 0, 0, 0.2)

		span
			display: block
			text-align: center
			font-size: 21px
			color: #333

.icon-block__img
	height: 120px
	display: flex
	align-items: center
	justify-content: center

.section-header
	padding: 20px 0 15px
	background: #14565C
	h2
		text-align: center
		color: #fff
		text-transform: uppercase

.collagen-formula
	padding: 50px 0 50px

	h2
		margin-bottom: 50px
		color: #055c50
		line-height: 45px
		text-align: center

	&__text
		ul
			margin-bottom: 20px
			list-style: none

			li
				font-size: 21px

		p
			font-size: 24px

.advantages-list
	padding: 50px 0 70px
	display: flex
	flex-wrap: wrap
	justify-content: space-between

	&__item
		width: 32.5%
		margin: 0 0 14px
		padding: 0 20px
		min-height: 290px
		display: flex
		flex-direction: column
		border: 8px solid #49968C

		p
			font-family: Verdana
			font-size: 14px
			line-height: 17px

	&__number
		display: flex
		align-items: center
		justify-content: center
		height: 68px
		margin-bottom: 10px
		text-align: center
		font-size: 51px
		line-height: 42px
		color: #136960
		border-bottom: 1px solid #7DB4AD


.order-btn__wrap
	display: flex
	margin-bottom: 70px

.btn-gradient
	display: flex
	align-items: center
	padding: 0 20px 0
	height: 58px
	border-radius: 40px
	font-size: 18px
	color: #fff
	text-transform: uppercase
	background: linear-gradient(to right, rgba(18,104,91,1) 0%, rgba(21,183,110,1) 50%, rgba(21,183,110,1) 76%, rgba(18,106,91,1) 100%)
	transition: all .5s ease-in-out

	&:hover, &:focus
		color: #fff
		opacity: 1
		background: linear-gradient(to right, rgba(21,183,110,1) 0%, rgba(18,104,91,1) 52%, rgba(21,183,110,1) 100%)

.one-kilo
	position: relative
	padding: 0 0 0 77px
	font-size: 17px
	color: #fff
	line-height: 17px
	text-transform: none
	text-align: left


	&::before
		content: ''
		position: absolute
		left: 4px
		bottom: 0
		width: 68px
		height: 76px
		background: url(../img/one-kilo.png)

.section
	h3
		padding: 20px 0
		text-align: center
		color: #333
		font-weight: normal
		font-size: 24px
		font-family: "Circe"

.composition
	padding: 40px 0
	background: url(../img/composition-bg.jpg) no-repeat
	background-size: cover

	&-item
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column

		img
			margin-bottom: 10px

		p
			font-size: 14px
			color: #fff
			font-family: verdana
			text-align: center
			max-width: 210px

.for-list
	display: flex
	align-items: flex-start
	justify-content: space-between

	&__item
		width: 24%

	img
		display: block
		margin: 0 auto 10px

	p
		font-size: 14px
		line-height: 15px

	&+h3
		margin-bottom: 30px
		font-size: 21px


.efficiency
	padding: 30px 0
	&-item
		display: flex
		padding: 25px 0

		&:nth-child(even)
			background: #eaf0ef
			.efficiency-item__img
				text-align: right

		&__img
			width: 250px
		&__text
			width: calc(100% - 250px)

.custom-list
	list-style: none

	li
		position: relative
		padding: 0 0 0 45px
		margin: 0 0 9px
		font-size: 21px
		line-height: 24px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 2px
			background: url(../img/list-marker.png)
			width: 23px
			height: 20px
		&:last-child
			margin-bottom: 0

.flex
	display: flex
	justify-content: space-between


.news-list
	display: flex
	justify-content: space-between
	padding: 55px 0 70px

	&__item
		width: 24%

		h4
			margin-bottom: 10px

		p
			margin: 0 0 20px
			line-height: 18px

	&__img
		margin-bottom: 10px
	&__date
		position: relative
		padding: 0 0 0 40px
		margin: 0 0 20px
		font-size: 14px
		color: #5D5D67

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 15px
			height: 15px
			background: url(../img/calendar.svg)

	&+.text-center
		.btn-green
			margin-bottom: 55px

.read-more
	display: inline-block
	padding: 7px 12px
	font-size: 14px
	color: #055c50
	border: 1px solid #002514

.btn-green
	padding: 9px 50px 7px
	font-size: 26px
	text-transform: uppercase
	color: #fff
	background: #12625A
	border-radius: 30px

	&:hover, &:focus
		color: #fff

.certificate
	padding: 40px 0
	background: url(../img/certificate-bg.jpg)

	&-slider
		padding: 0 25px

.contacts
	padding: 60px 0 10px

.contacts-info
	width: 490px

.contacts-info__top
	display: flex
	margin-bottom: 20px

.contacts-info__item
	ul
		width: calc(100% - 52px)
		list-style: none

		li, a
			font-size: 14px
			color: #000
			line-height: 18px
			font-family: Verdana

.contacts-info__icon
	width: 54px

.contacts-soc
	display: block
	padding: 8px 0 7px
	margin-bottom: 15px
	line-height: 0
	border-top: 1px solid #BAB4B4
	border-bottom: 1px solid #BAB4B4
	text-align: center

	li
		margin: 0 35px

.contacts-form
	width: 514px

.form-item
	position: relative
	margin-bottom: 5px
	border: 1px solid #BAB4B4
	border-radius: 4px

	&:before
		content: ''
		position: absolute
		left: 20px
		top: 12px

	&:last-of-type
		margin-bottom: 20px
	
	input
		width: 100%
		height: 40px
		padding: 0 0 0 50px
		border: none
		outline: none
		background-color: transparent
	
	textarea
		width: 100%
		padding: 7px 0 0 50px
		height: 135px
		border: none
		outline: none
		background-color: transparent
		resize: none

.icon-user
	&:before
		background: url(../img/user.svg)
		width: 12px
		height: 15px

.icon-at
	&:before
		background: url(../img/at.png)
		width: 13px
		height: 14px

.icon-phone
	&:before
		background: url(../img/phone.svg)
		width: 10px
		height: 17px

.icon-marker
	&:before
		background: url(../img/marker.svg)
		width: 12.424px
		height: 15.896px


.icon-envelope
	&:before
		background: url(../img/mail.svg)
		width: 16.856px
		height: 11.236px
		
.send-btn
	position: relative
	width: 100%
	height: 60px
	background: #135256
	font-size: 16px
	font-weight: bold
	font-family: Verdana
	color: #fff
	text-transform: uppercase
	text-align: center
	border: none
	outline: none

	&:before
		content: ''
		position: absolute
		left: 30px
		top: 20px
		background: url(../img/otpravit.svg)
		width: 30.898px
		height: 20.6px	
.map-wrapper
	height: 645px

#googleMap
	width: 100%
	height: 100%

.footer-wrap
	min-height: 170px
	align-items: center

.footer-copy
	

	p
		padding: 0 0 0 30px
		font-size: 11px
		font-family: Arial
		font-weight: bold
		color: #000
		line-height: 18px


.footer-logo
	max-width: 110px

.footer-design

	a
		display: inline-block
		img
			width: 82px

	span
		padding: 0 10px 0 0
		font-size: 11px
		font-family: Arial
		font-weight: bold
		color: #000
		line-height: 18px
	
.back-to-top 
	position: fixed
	display: block
	bottom: 15px
	right: 15px
	width: 72px
	height: 72px
	z-index: 99
	padding: 0
	margin: 0
	background-color: transparent
	border: none
	outline: none
	overflow: hidden
	cursor: pointer
	transition: all .4s ease
	opacity: 0

	&.show
		opacity: 1
